altgraph==0.17.5
certifi==2026.6.17
charset-normalizer==3.4.9
customtkinter==6.0.0
darkdetect==0.8.0
idna==3.18
packaging==26.2
pillow==12.2.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
requests==2.34.2
setuptools==83.0.0
urllib3==2.7.0
